name: CI Pipeline


on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: checkout code
      uses: actions/Checkout@v5


    - name: Set up Node.js
      uses: actions/setup-node@v6
      with:
        node-version: 'latest'


    - name: Build Docker image
      run: docker build -t reactjsapp


    - name: Run the Container App
      run: docker run -p 5173:5173 -v ${PWD}:/app -v /app/node_modules reactjsapp
